@import url(reset.css); /* RESET CSS */
/*public*/
.fl{float:left;}
.fr{float: right;}

.clear:after{
    content:'';
    display:block;
    clear: both;
}

.gradient {
    background: -webkit-linear-gradient(top,#ffffff,#f8f8f8);
    background: -moz-linear-gradient(top,#ffffff,#f8f8f8);
    background: -ms-linear-gradient(top,#ffffff,#f8f8f8);
    background: linear-gradient(top,#ffffff,#f8f8f8);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
    +background:#f9f9f9;
}
.triangle_up, .triangle_down_red, .triangle_down_gray { position:absolute; width:0; height:0; overflow:hidden; border-left:4px solid transparent; border-right:4px solid transparent; }
.triangle_up { border-bottom:4px solid #ca0309; }
.triangle_down_red { border-top:4px solid #ca0309; }
.triangle_down_gray { border-top:4px solid #c4bdbd; }
/* end public */

/* layout */
.wrapper{width: 710px;font-family: "微软雅黑";background-color: #FFFFFF}
.wrapper .activity {width: 350px; height: 800px;background-color: #eeeeee}
.wrapper .recommend {width: 350px; height: 800px;background-color: #dddddd}

.activity .new_title {height: 70px;background-color: #cccccc; position: relative;}
.activity h2 {background: url(../img/new_title_bg.gif) no-repeat right 0;}
.new_title strong {position: absolute; top: 22px; left: 24px;color: #ea2b31;font-size: 12px;}
.new_title span  {position: absolute; top: 36px; left: 24px;color: #333333;font-size: 24px;font-weight: normal;}
.new_title em  {position: absolute; top: 26px; right: 106px;color: #ec1c16;font-size: 36px;font-weight: bold;}
.activity .today{padding: 16px 25px 0 25px;}
.today .text {width: 204px; float: right;}
.today .text .title {height: 32px; line-height: 25px;}
.today .text .title strong{display: inline-block; width:25px; height: 25px; text-align: center; border: 1px solid #d2d2d2}

.activity .calender h3{display: block; height: 34px; width: 298px; line-height: 34px; padding-left: 25px; background-color: #bbbbbb;}
.calender {
    width: 323px;
    padding-left: 25px;
    position: relative;
}
.calender ol li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 2px 2px 0;
    background: #ededed;
    float: left;
    text-align: center;
    position: relative;
    font-weight: bold;
    color: #666;
    font-family: arial;
}
